html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: hidden; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
    background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

.main_page{
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
}
#lbl_titulo{
    position: relative;
    color: white;
}
#titulo{ /*Div de la parte superior en donde se encuentra el username de quien este logeado*/
    position: relative;
    left: 0px;
    margin-left: 14%;
    margin-top: 1%;
    width: 20%;
    background-color: #1DA1F2;    
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
}

#opciones_editar{ /*Div en donde vienen las opciones de que realizar, si editar una seccion, agregar/editar un usuario*/
    position: relative;
    margin-top: 1.5%;
    border-radius: 20px;
}

.btn_opciones{
    position: relative;
    margin: auto;
    width: 30%;
    height: 80px;
    font-size: 20px;    
    font-weight: bold;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    color: black;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: silver;
}
.btn_opciones:hover{
    cursor: pointer;
    color: white;
    background-color: #333;
}

#exit{/*Div donde va a ir el boton para salir de edicion*/
    position: absolute;
    top: 2%;
    margin-left: 81%;
}
#btn_salir{
    position: relative;
    margin: auto;
    height: 66px;
    width: 66px;
    border-radius: 6px;
    border: 1px solid transparent;
    background: url('../img/exit.png') no-repeat;
}
#btn_salir:hover{
    cursor: pointer;
    border: 1px solid red;
}

#lbl_titulo{
    position: relative;
    color: black;
    font-weight: bold;
}

#lbl_panel_control{
    position: relative;
	font-size: 45px;
	font-weight: bolder;
	font-style: italic;
	color: white;
}

#panel_control{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    width: 70%;
    color: black;
    border: 3px solid #1DA1F2;
    border-radius: 20px;
}

#contenido{ /*Div donde se va a cargar contenido para editar*/
    position: relative;
    height: 90%;
}

.login_msg_box{
	position: relative;
	border: 1px solid #1DA1F2;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

#opciones_galeria_servicios{
    position: relative;
    margin: auto;
}

#btn_editar_servicios{
    position: absolute;
    left: 0px;
    margin-left: 18.2%;
    margin-right: 1.5%;
}
#btn_editar_galeria{
    position: relative;
    margin-left: 32%;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}

/*Div del label que va ir al pie de la ventana*/
#footer{
    position: relative;
    margin-top: 10%;
}

#lbl_footer{
    position: relative;
	margin-bottom: 2%;
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
	color: white;
}