html, body 
{
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
}


#banner_actions {
    position: relative;
    margin: auto;
    width: 80%;
    height: 250px;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: white;
    border: 3px solid #1DA1F2;
    border-radius: 7px;
}

#banner_actions a {
    position: absolute;    
    text-decoration: none;    
    bottom: 1%;
    left: 0.5%;
    font-size: 20px;
    color: red;
}

.btn_banner_actions {
    border: hidden;
    background-color: teal;
    border-radius: 3px;
    width: 100px;
    max-width: 100px;
    height: 50px;
}

.btn_banner_actions:hover{
    cursor: pointer;
    border: 0.5px solid #1DA1F2;
}

#btn_cargarImagenes {
    position: absolute;
    left: 0.5%;
    top: 2%;
}

#btn_subirBanner {  
    position: absolute;
    top: 25%;
    left: 0.5%;    
}

#img_preview {
    position: absolute;
    left: 50%;
    width: fit-content;
    max-width: 80%;
    top: 14%;
    height: fit-content;
    max-height: 82%;
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#imgs {
    position: relative;
    margin: auto;
    margin-top: 5px;
    width: 80%;
    height: auto;    
    border: 3px solid #1DA1F2;
    border-radius: 7px;
}

#imgs_actions {
    position: relative;
    margin: auto;
    margin-top: 2px;
    width: 95%;
    border-bottom: 2px solid #1DA1F2;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: white;
    height: 230px; 
}

#txt_detalle{
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: 65%;
}

#btn_selectimg {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10%;
    left: 1%;
    background-image: url("../img/upload_img.png");    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: hidden;
}

#btn_upload {
    position: absolute;
    width: 35px;
    height: 55px;
    bottom: 2%;
    left: 1%;
    background-image: url("../img/save_changes.png");    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: hidden;
}

#txt_detalle_gal {
    position: absolute;
    resize: none;
    top: 18%;
    left: 8%;
    height: 160px;
    margin-bottom: 2px;
}

#img_porSubir {
    position: absolute;
    visibility: hidden;
    left: 50%;
    width: fit-content;
    max-width: 50%;
    top: 18%;
    height: fit-content;
    max-height: 160px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #1DA1F2;
}

#btn_cancel {
    position: absolute;
    top: 50%;
    left: .3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;    
    border: hidden;
    text-align: left;
}

#gallery {
    margin-left: 8.5%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.contenedor_img {
	margin: 5px;
	border: 1px solid transparent;
	float: left;
	width: 180px;
    /*background-color: #000;*/
    background-color: transparent;
	color: #FFF;
	
  }
  
.contenedor_img:hover {
	border: 1px solid rgb(139, 201, 255);
}
  
.galeria_img {
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
}
  
.descrip_img {
	padding: 15px;
	text-align: center;
}

.descrip_img a {
    text-decoration: none;   
    font-size: 18px;
    color: red;
}

