html, body 
{
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
}

#banner_actions {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: white;
    border: 3px solid #1DA1F2;
    border-radius: 7px;
}

#banner_actions a {
    position: absolute;    
    text-decoration: none;    
    bottom: 1%;
    left: 10%;
    font-size: 20px;
    color: red;
}

.btn_banner_actions {
    border: hidden;
    background-color: teal;
    border-radius: 3px;
    width: 100px;
    max-width: 100px;
    height: 50px;
}

.btn_banner_actions:hover{
    cursor: pointer;
    border: 0.5px solid #1DA1F2;
}

#btn_cargarImagenes {
    position: absolute;
    left: 0.5%;
    top: 2%;
}

#btn_subirBanner {  
    position: absolute;
    top: 7%;
    left: 1%;    
    visibility: hidden;
}