html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

#contenedor {
	position: relative;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;	
	padding: 10px 10px 10px 10px;
	border: 3px solid #1DA1F2;
	border-radius: 5px;
	width: auto;	
}

.div_seccion {
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	width: 200px;	
	height: 45px;
	border: 2px solid rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	padding: 20px;	
	text-align: center;		
}

.div_seccion span {
	font-size: 24px;	
	max-width: 200px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.div_seccion a {	
	position: relative;
	width: 80px;		
	margin-bottom: 2px;
	font-size: 20px;
	text-decoration: none;	
	border-radius: 8px;
	background-color: rgba(95, 158, 160, 0.308);	
}

.a_eliminar{	
	color: red;		
	float: right;
}

.a_editar{
	color: green;
	float: left;
}
