html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

#main{
	text-align: center;
	margin-top: 2%;
}

#form_container{ /*Form dentro del div del login, lleva el txt user y password y el boton de ingresar*/
	text-align: center;
	margin-top: 2.5%;
}

#lbl_titulo{
	position: relative;
	margin-bottom: 2%;
	font-size: 45px;
	font-weight: bolder;
	font-style: italic;
	color: white;
}
#img_titulo{
	position: relative;
	box-shadow: 10px 10px 5px #808080;
    -moz-box-shadow: 10px 10px 5px #808080;
	-webkit-box-shadow: 10px 10px 5px #808080;
    -khtml-box-shadow: 10px 10px 5px #808080;
}

#lbl_login{
	position: relative;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

#contenedor_login{ /*Div que engloba/contiene el div del login*/
	position: relative;
	margin: auto;
	margin-top: 2%;
	width: 50%;
	background-color: silver;
	border: 7px solid #1DA1F2;
	border-radius: 20px;
}

#login{ /*Div dentro del cual va el form con los txt_username y password, junto con el boton de ingresar*/
	position: relative;
	height: 30%;
	width: 70%;	
	margin: 35px auto;
	border: 2px solid white;
	border-bottom: 10px solid white;
	border-radius: 20px;
	padding: 20px 10px 10px 10px;
	background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
	color: white;
	background: transparent;
}

#btn_login{
	position: relative;
	border-radius: 50px;
	background-color: #333;
	color: white;
	font-weight: bold;
	position: relative;
	border: 0px;
	padding: 5px;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 45px;
	width: 90px;
}

#btn_login:hover{
	background-color: #111;
	border: 1px solid #1DA1F2;
	cursor: pointer;
}

.login_msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}
