html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: rgb(21,32,43);
    background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);    
}

#lbl_combobox{
    position: relative;
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

#lbl_banner{
    position: relative;
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

#main_panel{
    position: relative;
    margin: auto;
    margin-top: 1%;    
    width: 55%;
}
#divTituloPantalla{
    position: relative;
    text-align: center;
}
#lbl_pantalla{
    position: relative;
	font-size: 45px;
	font-weight: bolder;
	font-style: italic;
	color: white;
}

#divBanner{
    position: relative;
    border: 5px solid #1DA1F2;
    border-radius: 10px;
    height: 100px;
}

#divBanner_e{
    position: relative;
    border: 5px solid #1DA1F2;
    height: 200px;
    border-radius: 10px;
}

#divContenido{
    position: relative;
    text-align: center;
    margin-top: 1%;
	border-radius: 10px;
	border: 2px solid #1DA1F2;
}

.datos{
    position: relative;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 5px;
	border-radius: 5px;
	border: 1px solid  white;
	color: black;
	background: white;
}

#txt_titulo{
    text-align: center;
    font-size: 30px;
    width: 75%;
    font-weight: bold;
}

.footer_agregar{
	position: relative;
	text-align: right;
	width: 100%;
}

#btn_guardar{
    position: relative;
    margin-right: 1%;
	padding: 17px 16px;
	border: 1px solid transparent;
	background: url('../img/save_changes.png') no-repeat;
}
#btn_guardar:hover{
    cursor: pointer;
}

/*Input banner es el boton para subir una imagen*/
#btn_loadBanner{
    position: relative;
	height: 35px;
    width: 35px;
    border: hidden;
    margin-left: 1%;
    margin-bottom: 1%;
	margin-top: 2%;
	background: url('../img/upload_img.png') no-repeat;
	cursor: pointer;
    color: transparent;    
}

#btn_loadBanner_e {
    position: absolute;
	height: 35px;
    width: 35px;      
    bottom: 2%;
    left: 1%;  
    border: hidden;
	background: url('../img/upload_img.png') no-repeat;
	cursor: pointer;
    color: transparent;    
}

#input_banner::-webkit-file-upload-button{
	visibility: hidden;
}

/*Label que esta hidden hasta que se seleccione una imagen como banner*/
#nombre_img{
    position: relative;
    margin-left: 22.5%;
    font-size: 15px;
    color: white;
    text-align: center;
    left: 20%;
    transform: translateX(-50%);    
    -ms-transform: translateX(-50%);
}

#img_preview {
    position: absolute;
    left: 50%;
    top: 50%;    
    width: fit-content;
    height: fit-content;
    max-height: 80%;
    max-width: 50%;
    transform: translate(-50%, -50%);
}

#img_preview_e {
    position: absolute;
    left: 50%;
    top: 60%;    
    width: fit-content;
    height: fit-content;
    max-height: 60%;
    max-width: 50%;
    transform: translate(-50%, -50%);
}

#btn_volver{
	position: absolute;
	top: 7px;
	right: 1%;
	padding: 12px 12px;
	border-radius: 6px;
	background-color: white;
	background: url('../img/exit2.png') no-repeat;
	border: 1px solid #333;
}
#btn_volver:hover{
	border: 1px solid red;
	cursor: pointer;
}

/*Div dentro del cual va el combo box*/
.combobox_secciones{
    position: absolute;
    top: 7px;
    margin-left: 47%;
}

/*El combo box como tal*/
.combobox_secciones select{
    position: relative;
    background-color: silver;
    margin-left: 5%;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    outline: none;
}

#lbl_guardarcambios{
    position: relative;
    margin-right: 1.5%;
    margin-top: 1.5%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#actions{
	position: absolute;
	bottom: 5px;
	text-align: left;
}

#actions a {
	color: red;
	font-size: 25px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}

/****************** Cosas para la pantalla de editar servicios ******************/
#main_panel_servicios{
    position: relative;
}

#contenedor_servicios{
    position: relative;
    overflow: auto;
}

.servicio_box{
	max-width: 600px;
	margin: auto auto;
}
	.block {
	  padding: 5px 15px 15px;
	  border-radius: 4px;
	  margin-bottom: 20px;
	  background: rgba(0,0,0,1);
	}
  
	.contenido_servicio{
	 font-family: Segoe UI, Century Gothic,Verdana, Arial;
	  font-size: 15px;
	  color: #fff;
	}

.btn_mostrar:hover{
    background: rgb(1,76,140,0.2);
    cursor: pointer;

}

    .contenido-oculto {
    height: 50px;
    overflow: hidden;
    position: relative;    
    }
    .contenido-oculto:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100% );
    }
    
    .contenido-visible {
    height: auto;
    overflow: auto;
    }

#opciones_servicio{
    position: relative;
    top: 0px;
    text-align: right;
}

#btn_editar {
    font-size: 25px;
    margin-right: 2%;
    color: #4CAF50;
}

#btn_eliminar {
    font-size: 25px;
    color: #DC4E41;
}
/******************************************************************************/

/*CSS que respecta la vista de lista servicios y editar servicio*/

#div_banner_servicios{
    position: relative;
    margin: auto;
    border-radius: 15px;
    width: 50%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border: 3px solid #1DA1F2;
}

#agregar_servicio{
    position: relative;
    margin: auto;
    margin-bottom: 1.5%;
    width: 50%;
    text-align: left;
    border-radius: 20px;
    border: 1px solid #1DA1F2;
}

#form_servicio{
    position: relative;
    text-align: center;
    margin-top: 2%;
}

.datos_servicio{
    border-radius: 7px;
    margin-bottom: 2%;
}

#txt_nombre_servicio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 1.5%;
    width: 70%;
    padding: 10px;
}

#txt_detalle_servicio{
    font-size: 15px;
}

#btn_save{
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 95.5%;
    background-color: gray;
    border: none;
}
#btn_save:hover{
    cursor: pointer;
    background-color: silver;
    border: 1px solid #1DA1F2;
}

#btn_guardar_banner{
    position: relative;
    margin-left: 92.5%;
    padding: 17px 16px;
	border: 1px solid transparent;
	background: url('../img/save_changes.png') no-repeat;
}

#btn_guardar_banner:hover{
    cursor: pointer;
}

#pagina_editar_servicio{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}

#contenedor_servicio{
    position: relative;
    width: 50%;
    margin-top: 2.5%;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #1DA1F2;
}

/****************************************************************/

/*  CSS Mensajes  */
#msg_box_container{
	position: fixed;
	margin-left: auto;
	left:0;
	right:10px;
	width:350px;
	top:10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user span{
	padding-bottom:10px;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}

.botones_agregar_imagen:hover{
    cursor: pointer;
}

#btn_del_banner{
    position: absolute;
    text-decoration: none;
    bottom: 1%;
    left: 1%;
    font-size: 20px;
    color: red;
}