﻿html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

body{
	margin: auto;
	font-family: Arial;
	font-size: 11px;
	color: #FFF;
}

a, img{
  outline: none; border: none;
}


.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

@keyframes fadein {
    from { opacity: 0; visibility: hidden; }
    to   { opacity: 1; visibility: visible; }
}

ul {	/* Barra de menu */
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li { /* Lista del menu */
	float: left;
}

li a { /* Elementos de la lista */
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover { /* Hover sobre los elementos de la lista */
	background-color: #111;
}
  
#titulo{
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    display: block;

	
}
#descripcion{
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	position: relative;
	font-size: 20px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
	
}
#contenido{
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	position: relative;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
    margin-right: 20px;
	display: block;
	
}

#banner_box{
	margin: auto;
	text-align: center;
	height: 200px;
	
}
#banner{
	visibility: hidden;
	width: 0px;
	position: relative;
	object-fit: cover;
	object-position: center;
	max-height: 0px;
}

/*Boton para editar la pagina web, que esta por el banner dentro del div banner box*/

#btn_edit_page:hover{
	border: 1px solid yellow;
}
#galeria_box{
	margin-left: 50px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
.galeria {
	margin: 5px;
	border: 1px solid transparent;
	float: left;
	width: 180px;
	background-color: #FFF;
	color: #000;
  }
  
.galeria:hover {
	border: 2px solid rgb(139, 201, 255);
  }
  
  .galeria_img {
	width: 100%;
	height: auto;
  }
  
.descrip_img {
	padding: 15px;
	text-align: center;
  }
  #btn_enviar{
	  height: 35px;
	  width: 350px;
	  position: relative;
	  border-radius: 4px;
	  border:hidden;
	  background-color: black;
	  color: black;
	  font-size: large;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 20px;
	  display: block;
	  color: #FFF;

	  
  }
  #btn_enviar:hover{
	border-radius: 4px;
	border: #FFF;
	border-style: solid;
	border-width: 1px;
	background: rgba(254, 254, 254, 0.1);
	color: #FFF;
	cursor: pointer;
}
#txt_nombre{
	background-color: transparent;
	height: 30px;
	width: 375px;
	font-size: 15px;
	border: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background: rgba(254, 254, 254, 0.1);
	color: #FFF;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
#txt_email{
	background-color: transparent;
	height: 30px;
	width: 375px;
	font-size: 15px;
	border: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background: rgba(254, 254, 254, 0.1);
	color: #FFF;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
#txt_asunto{
	background-color: transparent;
	height: 30px;
	width: 375px;
	font-size: 15px;
	border: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background: rgba(254, 254, 254, 0.1);
	color: #FFF;
	margin-left: auto;
    margin-right: auto;
    display: block;

}
#txt_comentario{
	background-color: transparent;
	width: 375px;
	height: 200px;
	font-size: 15px;
	border: #FFF;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background: rgba(254, 254, 254, 0.1);
	color: #FFF;
	margin-left: auto;
    margin-right: auto;
    display: block;

}

.servicio_box{
	max-width: 600px;
	margin: auto auto;
}
	.block {
	  padding: 5px 15px 15px;
	  border-radius: 4px;
	  margin-bottom: 20px;
	  background: rgba(0,0,0,1);
	}
  
	.contenido_servicio{
	 font-family: Segoe UI, Century Gothic,Verdana, Arial;
	  font-size: 15px;
	  color: #fff;
	}
	
	
  
.btn_mostrar{
	  background: rgba(0,0,0,1);
	  color: rgb(1,76,140);
	  display: inline-flex;
	  align-items: center;
	  height: 26px;
	  line-height: 26px;
	  padding: 0 14px;
	  font-size: 14px;
	  border-radius: 3px;
	  border: 1px solid rgb(1,76,140); 
	}
  
.btn_mostrar:hover{
		background: rgb(1,76,140,0.2);
		cursor: pointer;

	  }

	  .contenido-oculto {
		height: 50px;
		overflow: hidden;
		position: relative;
	  
		
	  }
	  .contenido-oculto:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 64px;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100% );
	  }
	  
	  .contenido-visible {
		height: auto;
		overflow: auto;
	  }