html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: auto; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: rgb(21,32,43);
	background: radial-gradient(circle, rgba(21,32,43,1) 0%, rgba(0,0,0,1) 84%);
}

#btn_volver{
	position: absolute;
	top: 5px;
	margin-left: 97%;
	padding: 12px 12px;
	border-radius: 6px;
	background-color: white;
	background: url('../img/exit2.png') no-repeat;
	border: 1px solid #333;
}
#btn_volver:hover{
	border: 1px solid red;
	cursor: pointer;
}

#lbl_agregar_usuario{
	position: relative;
	margin-left: 1%;
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.lbl_form_info{
	position: relative;
	margin-left: 1.5%;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.cabecera_agregar{
	position: relative;
	border-radius: 7px;
	border: 2.5px solid #1DA1F2;
	height: 40px;
}

/*Panel de toda la pantalla*/
#panel_agregar{
	position: relative;
	height: 80%;
	width: 80%;
	border-radius: 5px;
	margin: auto;
	height: 80%;
	margin-top: 30px;
}

/*Div grandote*/
#divInformacion{
	position: relative;
	margin-top: 2%;
	border-radius: 10px;
	border: 2px solid #1DA1F2;
}

/*Class para los div que contienen los txt de la informacion que se va a ingresar*/
.form_info{
	position: relative;
	margin-top: 1%;
	margin-bottom: 3%;
}

/*Class de los txt como tal*/
.form_txt{
	padding: 5px;
	margin-left: 1.5%;
	border-radius: 5px;
	border: 1px solid  black;
	width: 300px;
	color: black;
	background: white;
}

/*Div de la mitad del div grande de informacion, es decir, los txt ocupan el 50% del div grande y estaran al lado izquierdo*/
#form_datos{
	position: relative;
}

/*Div que ocupa la otra mitad, el 50% del divInformacion pero al lado derecho*/
#divFotoUsuario{
	position: absolute;
	margin: auto;
	text-align: center;
	top: 5.5%;
	width: 50%;
	margin-left: 45%;
	height: 75%;
	border-radius: 20px;
	color: black;
	background-color: white;
}

.footer_agregar{
	position: relative;
	text-align: right;
	width: 100%;
}

#btn_guardar{
	position: relative;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 17px 16px;
	border: 1px solid transparent;
	background: url('../img/save_changes.png') no-repeat;
}
#btn_guardar:hover{
	cursor: pointer;
}

.text-danger{
	color: #F00;
}

#actions{
	position: relative;
	bottom: 5px;
	text-align: center;
}

#actions a {
	color: red;
	font-size: 25px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}

#acciones_imgs {
	position: relative;
	margin: auto;
	width: 100%;

}

#btn_cargarImagenes {
	margin: auto;
	position: relative;
	background-image: url("../img/upload_img.png");
	border: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	width: 35px;
	height: 35px;
	background-color: transparent;
}

#btn_cargarImagenes:hover, #btn_subirFoto:hover {
	cursor: pointer;
	background-color: teal;
}

#btn_subirFoto {
	position: relative;
	margin: auto;
	height: 35px;
	width: 100px;
	border: hidden;
	border-radius: 3px;
}

#img_preview {
	position: relative;
	margin: auto;
	margin-top: 5px; 
	width: fit-content;
	height: fit-content;
	max-width: 90%;
	max-height: 70%;
	border: 1px solid black;
}

#btn_del_foto {
	color: red;
	font-size: 18px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}


#msg_box_container{
	position: fixed;
	margin-left: auto;
	left:0;
	right:10px;
	width:350px;
	top:10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user span{
	padding-bottom:10px;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}